<!-- INDEX -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-WA</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/37a55e2025.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div id="top-row" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row card-body">
                        <div id="wa-icon" class="col-md-2">
                            <i class="fas fa-cloud-sun-rain"></i>
                        </div>
                        <div class="col-md-10">
                            <h1 class="blue">WeatherApp</h1>
                            <p class="lead"> WeatherApp, created using Node.js, Express.js, and Weatherbit API for data requests. Provides current
                                weather in requested location along with a 6-day outlook below.
                                Use the following format to search for a location: <em>CityName</em> for International locations,
                                <em>CityName, ProvinceFull</em> for Canadian locations, e.g. Windsor, Ontario.
                                <br></p>
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form class="location-input shadow-none" action="/result" method="GET">
                                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                                  <div class="input-group">
                                    <input type="search" name="location" placeholder="Enter Location..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                    <div class="input-group-append">
                                      <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                  </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        
            

        <!-- INITIAL -->
        <% if (typeof weather === 'undefined') { %>
        <p>Weather card will appear here!</p>
        <% } else { %>
        <div class="row">
            <div class="col-md-12">
                <!-- CURRENT DAY -->
                <div class="wide-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <!-- Display State/Country Code -->
                                <p class="location"><%= weather.city_name %>,
                                    <% if (isNaN(weather.state_code)) { %>
                                    <%= weather.state_code %>
                                    <% } else { %>
                                    <%= weather.country_code %>
                                    <% } %>
                                </p>
                            </div>
                            <img src="https://www.weatherbit.io/static/img/icons/<%= weather.data[0].weather.icon %>.png">
                            <p class="desc"><em><%= weather.data[0].weather.description %></em></p>
                            <div class="temp"><%= Math.round(weather.data[0].temp) %><sup>&deg;</sup>C</div>
                            <p><em>Feels Like <%= Math.round(weather.data[0].app_max_temp) %><sup>&deg;</sup>C</em></p>
                        </div>  
                    </div>
                   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="header"> <strong>Humidity</strong></div>
                            <div class="value"><%= weather.data[0].rh %>%</div>
                        </div>
                        <div class="col-md-3">
                            <div class="header"> <strong>Precip. Chance</strong></div>
                            <div class="value"><%= Math.round(weather.data[0].pop) %>%</div>
                        </div>
                        <div class="col-md-3">
                            <div class="header"> <strong>Pressure</strong></div>
                            <div class="value"><%= weather.data[0].pres %> kPa</div>
                        </div>
                        <div class="col-md-3">
                            <div class="header"> <strong>Wind</strong></div>
                            <div class="value"><%= weather.data[0].wind_cdir %>
                                <%= Math.round(weather.data[0].wind_spd) %> km/h</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- 6-DAY FORECAST -->
            <% weather.data.forEach(function(day) { %>
            <div class="col-md-2">
                <div class="small-card">
                    <div class="date"> <strong><%= day.valid_date %></strong></div>
                    <div class="forecast">
                        <div class="daily-icon"><img src="https://www.weatherbit.io/static/img/icons/<%= day.weather.icon %>.png" width="40" height="40" alt=""></div>
                        <div class="daily-desc"><%= day.weather.description %></div>
                        <div class="daily-bottom">
                            <div class="daily-temp"><%= Math.round(day.high_temp) %> ↑ <%= Math.round(day.low_temp) %> ↓ </div>
                            <div class="daily-pop"><em><%= day.pop %>%</em></div>
                        </div>
                       
                    </div>
                </div> 
            </div>
            <% }) %>
        </div>
        <div class="date-time">
            <p><em>As of <%= new Date().toLocaleString() %></em></p>
        </div>
       
    </div>
    <% } %>

</body>
</html>